.wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
}

.background-image {
  position: absolute;
  width: 100%;
  height: 100%;
}


/* Make the image responsive */
.wrapper img {
  width: 100%;
  height: auto;
}

/* Style the button and place it in the middle of the container/image */
.bf1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #e89972;
  color: #fff;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;

}

.bf1:hover {
  background-color: black;
}
.body{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #e89972;
}
.header{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #e89972;
}
.carousel-caption d-none d-md-block{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #e89972;
}
body {
  background: grey;
}

.card-block .btn-outline-primary {
  width: 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  bottom: 0;
  left: 0;
  position: absolute;
}

.card {
  margin: 20px 0;
}

/* Flip Cards CSS */
.card-container {
  perspective: 700px;
}
.card-flip {
  position: relative;
  width: 100%;
  transform-style: preserve-3d;
  height: auto;
  transition: all 0.5s ease-out;
  background: white;
  border: none;
}

.card-flip div {
  backface-visibility: hidden;
  transform-style: preserve-3d;
  height: 100%;
  width: 100%;
  border: none;
}

.card-flip .front {
  position: relative;
  z-index: 1;
}

.card-flip .back {
  position: relative;
  z-index: 0;
  transform: rotateY(-180deg);
}

.card-container:hover .card-flip {
  transform: rotateY(180deg);
}