video {
object-fit:cover;
width: 100%;
height:100%;
z-index:-1;
position: absolute;

}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.hero-container{
    
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-image: linear-gradient(to right, rgba(79, 54, 12, 0.391), rgba(79, 54, 12, 0.41));

    height:100vh;
    width: 100%;
    display: flex;
    flex-direction:column;
    align-items: center; 
    object-fit: contain;
}
.hero-container > img {
    margin-top: 100px;
   
}
.hero-container > h1 {
    color :#e5ded2;
    font-size: 56px;
    font-weight: 300;
    margin-top:20px;
    letter-spacing: 19px;
    @media screen and (max-width: 480px) {
        font-size:20px;
    }
}
.hero-container > p {
    margin:8px;
    margin-bottom:30px;
    color :#e5ded2;
    font-size: 22px;
    letter-spacing: 5px;

   
    

}
@media screen and (max-width: 480px) {
    .hero-container > p {
        color: #fff;
        font-size: 16px;
        letter-spacing: 3px;
        justify-self:center;
       



   
}}
@media screen and (max-width: 480px) {
    .hero-container > h1 {
       align-items: center;
       justify-self:center;
       margin-top: 30px;
        font-size: 19px;
        letter-spacing: 5px;

}}
@media screen and (max-width: 480px) {
    .hero-container > img {
          
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height:150px;
    width: 100%;
    display: flex;
    flex-direction:column;
    align-items: center; 
    object-fit: contain;
   
}}
@media screen and (max-width: 480px) {
video {
    width: 480px;
    height: 500px;
    z-index:-1;
    position: absolute;
    
    }
    .hero-container {
        height: 500px;
        background-image: linear-gradient(to right, rgba(79, 54, 12, 0.391), rgba(79, 54, 12, 0.41));
        align-items: center;
        justify-content: center;
    }}