



.section::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	
}

.section::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	
}

.container1 {
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 40px 0;


}

.container1 .card {
	position: relative !important;
	background: rgba(255, 255, 255, 0.212) !important;
	border-radius: 16px !important;
	box-shadow: 0 4px 30px rgba(124, 74, 8, 0.13) !important;
	backdrop-filter: blur(10px) !important;
	-webkit-backdrop-filter: blur(5px) !important;
	border: 1px solid rgba(255, 255, 255, 0.3) !important;
	width: 250px !important;
	height: 300px !important;
	margin: 20px !important;
	border-radius: 15px !important;
	display: grid;
	justify-content: center !important;
	align-items: center !important;
	border-radius: 10px !important;
	padding: 30px !important;
	margin-bottom:100px !important;

	

}

.container1 .card .content {
	position: relative !important ;
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
	flex-direction: column !important ;
	transition: 0.5s !important;
	
}

.container1 .card:hover .content {
	transform: translateY(-20px) !important;
}

.container1 .card .content .imgBx {
	position: relative;
	width: 150px;
	height: 150px;
	overflow: hidden;
}

.container1 .card .content .imgBx img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.container1 .card .content .contentBx h3 {
	color: #e89972 !important;
	text-transform: uppercase !important;
	letter-spacing: 2px !important;
	font-weight: 500 !important;
	font-size: 18px !important;
	text-align: center !important;
	margin: 20px 0 10px !important;
	line-height: 1.1em !important;
}

.container1 .card .content .contentBx h3 span {
	font-size: 12px !important;
	font-weight: 300 !important;
	text-transform: initial !important;
}

.container1 .card .sci {
	position: absolute;
	bottom: 50px;
	display: flex;

}

.container1 .card .sci li {
	list-style: none !important;
	margin: 0 10px !important;
	transform: translateY(40px) !important;
	transition: 0.5s !important;
	opacity: 0 !important;

}

.container1 .card:hover .sci li {
	transform: translateY(-7px) !important;
	opacity: 1 !important;
}


.container1 .card .sci li a {
	color: rgb(106, 44, 44) !important;
	font-size: 20px !important;
}
@media screen and (max-width: 480px) {
	.container1 {
		display: grid!important;
		grid-template-columns: auto auto!important;
		grid-gap: 0px !important;
		max-width: 400px !important;

		}
		.container1 .card {

			height:220px !important;
			width:170px!important;
			
			margin: 5px!important;
			margin-bottom: 39px!important;

			
		}
}